{% extends "base.html" %}

{% load thumbnail %}
{% load staticfiles %}

{% block title %}42 Coffee Cups Test Assignment{% endblock %}

{% block content %}
    <h1>42 Coffee Cups Test Assignment</h1>
    <form id="edit-form" action="{% url 'edit' %}" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="column">
            {% for field in form.visible_fields|slice:":4" %}
                <div id="{{field.name}}_container" class="field">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% ifequal field.name "photo" %}
                        <div id="photo-preview" >
                        {% if form.instance.photo %}
                            <img src="{% thumbnail form.instance.photo 300x400 crop %}"/>
                        {% endif %}
                        </div>
                    {% endifequal %}
                </div>
            {% endfor %}
            </div>
            <div class="column">
            {% for field in form.visible_fields|slice:"-5:" %}
                <div id="{{field.name}}_container" class="field">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="field">
            <input type="submit" value="Save" />
            <a class="cancel" href="{% url 'home' %}">Cancel</a>
        </div>
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        {% csrf_token %}
    </form>
{% endblock content %}

{% block footer %}
    <p>
        <a href="{% url 'log' %}">Requests</a>
    </p>
{% endblock footer %}

{% block body_extra %}
    {{form.media}}
{% endblock body_extra %}
