{% extends "base.html" %}

{% load thumbnail %}

{% block title %}42 Coffee Cups Test Assignment{% endblock %}

{% block content %}
<h1>42 Coffee Cups Test Assignment</h1>
<div class="row">
    <div class="column">
        <p>{{info.first_name}}</p>
        <p>{{info.last_name}}</p>
        {% if info.birthday %}
            <p>{{info.birthday}}</p>
        {% endif %}
        <p>Photo:</p>
    </div>
    <div class="column">
        <p>Contacts</p>
        {% if info.email %}
            <p>Email: {{info.email}}</p>
        {% endif %}
        {% if info.jabber %}
            <p>Jabber: {{info.jabber}}</p>
        {% endif %}
        {% if info.skype %}
            <p>Skype: {{info.skype}}</p>
        {% endif %}
    </div>
</div>
    <div class="row">
    <div class="column">
        {% if info.photo %}
            <img src="{% thumbnail info.photo 300x400 crop %}"/>
        {% endif %}
    </div>
    <div class="column">
        {% if info.contacts %}
            <p>Other contacts:</p>
            <p>{{info.contacts|linebreaksbr}}</p>
        {% endif %}
        {% if info.bio %}
            <p>Bio:</p>
            <p>{{info.bio|linebreaksbr}}</p>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block footer %}
    <p>
        <a href="{% url 'log' %}">requests</a>
    </p>
{% endblock footer %}
