{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}No title{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static "homepage/css/base.css" %}">
    </head>
    <body>
        {% block body %}
            <div id="layout">
                <div id="content">
                {% block content %}
                {% endblock content %}
                </div>
                <div id="footer">
                {% block footer %}
                {% endblock footer %}
                </div>
            </div>
        {% endblock body %}
    </body>
</html>
