{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}No title{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static "homepage/css/base.css" %}?v=2">
        <link rel="shortcut icon" href="{% static "homepage/img/favicon.ico" %}" />
        <script src="{% static "homepage/js/lib/jquery-2.0.2.min.js" %}"></script>
    </head>
    <body>
        {% block body %}
            <div id="layout">
                <div id="content">
                {% block content %}
                {% endblock content %}
                </div>
                <div id="footer">
                {% block footer %}
                {% endblock footer %}
                </div>
            </div>
        {% endblock body %}
        {% block body_extra %}
        {% endblock body_extra %}
    </body>
</html>
