body, .pika-single, .pika-button{
  font-family: Georgia,"Bitstream Charter",serif !important;
}

#layout {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#footer {
  border-top: 1px solid #CCCCCC;
}
.column {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

label {
  display: inline-block;
  padding-right: 8px;
  text-align: right;
  width: 100px;
}
.cancel {
  padding-left: 12px;
}
.menu {
  float: right;
  margin: 12px 0;
  padding: 0;
}
.menu li {
  display: inline;
  list-style-type: none;
  padding-right: 12px;
}
.login-box {
  margin: 180px auto;
  width: 300px;
  border: 1px solid #CCCCCC;
  padding: 12px;
}
.login-box .title {
  margin-top: 0;
  text-align: center;
}
.login-box .field {
  margin: 4px 0;
}
.login-box .control {
  margin: 12px 0 0;
  text-align: right;
}
.errorlist {
  color: red;
  padding-left: 130px;
}
.ajax-upload-preview-area {
    display: inline-block;
    text-align:  center;
}
.ajax-upload-preview-area img {
    display: block;
    max-width: 300px;
    max-height: 400px;
    margin: 0 auto;
    margin-top: 5px;
}
